body {
  background: rgb(79, 78, 78);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

h3 {
  margin: 1rem;
}
.main {
  background: beige;
  text-align: center;
  width: 90%;
  max-width: 600px;
  padding: 2rem;
  box-shadow: 0 10px 25px black;
  border-radius: 12px;
}

button {
  background: rgb(54, 105, 234);
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1.1rem;
  margin: 0.4rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: rgb(0, 136, 255);
}

.hidden {
  display: none;
}

#answerButtons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 1rem;
}
.backNextButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.backNextButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

#scoreB {
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 1.5rem;
}

#finalScore {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.correct {
  background-color: green;
  color: white;
  box-shadow: 0 0 10px 2px green;
}

.incorrect {
  background-color: red;
  color: white;
  box-shadow: 0 0 10px 2px red;
}

.answerBtn:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.progress {
  width: 100%;
  background-color: #ddd;
  height: 12px;
  border-radius: 6px;
  margin-bottom: 20px;
  overflow: hidden;
}

#progressBar {
  height: 100%;
  width: 0%;
  background-color: bisque;
}

#progressBar {
  height: 100%;
  width: 0%;
  background-color: #4caf50;
  transition: width 0.4s ease;
}
